.one {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    
}


.two {
    font-family: 'Courier New', Courier, monospace;
}

.three {
    font-size: large;
}

.quarter-one {
    display: flex;
    justify-content: center;
}
