.one {
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.two {
    font-family: 'Courier New', Courier, monospace;
}

.three {
    font-size: large;
}

.quarter-one {
    display: flex;
    max-width: 960px;
    padding: 20px;
}

.one-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border: 8px solid black;
}

.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}